body {
    background-image: url(../images/bluetile.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backface-visibility: visible;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    color: white;
    font-size: 1em;
    width: 100%;
    height: 100%;
  }
  
  nav {
    z-index: 1;
    top: 0px;
    position: sticky;
    width: 100%;
    height: 10.5vh;
    background-color: #004aad;
  }
  
  nav a {
    font-size: 2vw;
    color: white;
    text-decoration: none;
  }
  
  nav div {
    height: 77%;
  }
  
  .home {
    position: absolute;
    text-align: center;
    padding-top: 20px;
    width: 150px;
  }
  
  .rates {
    position: absolute;
    text-align: center;
    padding-top: 20px;
    width: 150px;
    right: 225px;
  }
  
  .services {
    position: absolute;
    text-align: center;
    padding-top: 20px;
    width: 215px;
    right: 5px;
  }
  
  nav div:hover {
    background-color: #10458e;
  }
  
  #banner {
    width: 100%;
    padding-bottom: 6.5%;
  }
  
  .container {
    margin: auto;
    margin-bottom: 6vh;
    background-color: #06397e;
    border-radius: 20px 20px 20px 20px;
    max-width: 1450px;
    min-height: 350px;
    position: relative;
    display: flex;
    justify-content: space-ev;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .header {
    margin-left: 23%;
    margin-right: 24.5%;
    margin-bottom: 5%;
    background-color: #06397e;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
    font-size: 5.5vw;
    color: #fbd748;
  }
  
  table {
    border-collapse: collapse;
    font-size: 1.6vw;
    color: black;
    width: 45%;
    min-height: 150px;
    min-width: 300px;
    top: 100%;
  }
  
  #dogs {
    max-height: 85%;
    max-width: 65%;
    padding: 20px;
  }
  
  th,
  td {
    border-color: #06397e;
    padding-top: 0.3%;
    padding-right: 1%;
    padding-bottom: 0.3%;
    padding-left: 0.3%;
    background-color: #e0d1cc;
  }
  
  #topleft {
    border-radius: 10px 0px 0px 0px;
  }
  
  #topright {
    border-radius: 0px 10px 0px 0px;
  }
  
  #bottomleft {
    border-radius: 0px 0px 0px 10px;
  }
  
  #bottomright {
    border-radius: 0px 0px 10px 0px;
  }
  
  .centralizer {
    margin: auto;
    width: 70%;
    height: 79vh;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  
  .container2 {
    background-color: #06397e;
    font-size: 2vw;
    border-radius: 20px 20px 20px 20px;
    width: 480px;
    height: 100%;
  }
  
  .container2 > ul {
    padding-bottom: 0px;
  }
  
  .container2 > img {
    padding-left: 42px;
    width: 83%;
    height: 43%;
  }
  
  .container3 {
    background-color: #06397e;
    font-size: 2vw;
    border-radius: 20px 20px 20px 20px;
    width: 480px;
    height: 100%;
  }
  
  .container3 > img {
    padding-top: 15px;
    padding-left: 42px;
    width: 83%;
    height: 45%;
  }
  
  footer {
    position: relative;
    background-color: #004aad;
    width: 100%;
    height: 13.5vh;
  }
  
  .contacts {
    position: absolute;
    top: 7px;
    left: 30px;
    font-size: 1.3vw;
  }
  
  #subcontacts {
    height: 10px;
  }
  
  .managers {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 1.3vw;
  }
  