* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 1em;
}
/* Big font size - 3em */
/* Medium font size - 1.5em */
/* Small font size - .75em */

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
p {
    font-size: .75rem;
}
h2 {
    font-size: 3rem;
    text-shadow: 2px 2px #000;
    color: #fad02b;
}
nav, footer {
    width: 100%;   
    background-color: #004aad;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 4rem;   
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 4px 1px;
}
nav a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 25px;
}
nav a:hover {
    background-color: #10458e;
}
.right-nav, .left-nav {
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.banner {
   width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
}
.left-foot,
.right-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-foot {
    align-items: flex-start;
}
.right-foot {
    align-items: flex-end;
}
footer p {
    font-weight: bold;
}

main {
    background-image: url(../images/bluetile.png);
    background-repeat: repeat;
    background-size: 25vw;
    backface-visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 30px 0;
}

